.container {
  max-width: 575px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
  .info {
  display: flex;
  }
  .news, .stocks {
    width: 700px;
  }
}
