body {
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(153, 193, 185);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Zilla Slab', sans-serif;
}

h1 {
  padding: 0 1em;
}

i {
  font-size: 2em;
}

.box {
  background-color: white;
  margin: 1em 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
}

.search {
  justify-content: center;
  align-items: center;
}

#stock-search {
  width: 18em;
  height: 2.5em;
  border-radius: 1em;
  margin: 2em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

table {
  padding: 1em;
}

tr, td {
  padding: 1em;
}

.stocks, .news {
  align-items: center;
  flex-direction: column;
}

a {
  padding: 1em 1em;
  color:rgb(153, 193, 185);
}

button {
  background-color: white;
  border-style: none;
  cursor: pointer;
}


.hide {
  display: none;
}
