body {
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(153, 193, 185);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Zilla Slab', sans-serif;
}

h1 {
  padding: 0 1em;
}

i {
  font-size: 2em;
}

.box {
  background-color: white;
  width: 89%;
  height: 100%;
  margin: 3em auto;
  border-radius: 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#stock-search {
  width: 15em;
  height: 2.5em;
  border-radius: 1em;
  margin: 2em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

th {
  border-bottom: 1px solid black;
  padding: 1em;
}

td {
  padding: 0.5em 1em;
}

button {
  background-color: white;
  border-style: none;
  cursor: pointer;
}
